@{
    ViewData["Title"] = "Home Page";
}


<h1>Home Page</h1>

<!--<div class="row">
    <div class="col-3 col-md-2 border-right">
        <h5>Price</h5>
        <div class="form-group">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="under500">-->
<!-- Every label when clicked needs to immediatley display the correct filter -->
<!--<label class="form-check-label" for="under500">Under $500</label>
</div>
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="500To600">-->
<!-- Every label when clicked needs to immediatley display the correct filter -->
<!--<label class="form-check-label" for="$500To600">$500 to $600</label>
</div>
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="600To700">-->
<!-- Every label when clicked needs to immediatley display the correct filter -->
<!--<label class="form-check-label" for="600To700">$600 to $700</label>
</div>
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="700To800">-->
<!-- Every label when clicked needs to immediatley display the correct filter -->
<!--<label class="form-check-label" for="700To800">$700 to $800</label>
</div>
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="800To1000">-->
<!-- Every label when clicked needs to immediatley display the correct filter -->
<!--<label class="form-check-label" for="800To1000">$800 to $100</label>
</div>
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="1000ToAbove">-->
<!-- Every label when clicked needs to immediatley display the correct filter -->
<!--<label class="form-check-label" for="1000ToAbove">$1000 to Above</label>
            </div>
            <input type="text" class="form-control d-inline" placeholder="Min..." />
            <input type="text" class="form-control d-inline" placeholder="Max..." />
        </div>
    </div>
</div>-->
